.App-header {
    height:80px;
    width:auto;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 0px;
    background-color: #211f21;
    overflow:hidden;
}

.App-logo {
    animation:none;
    max-height:100%;
}

