.App-header {
    height:100px;
    width:auto;
    display: flex;
    align-items: left;
    justify-content: space-between; 
    padding: 0 20px;
    background-color: #211f21;
    overflow:hidden;
}

.App-logo {
    animation:none;
    max-height:100%;
}

